*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.body_tazumal{
    background-image: url("./img/tazumal1.jpg");
    height:auto;
    width: auto;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}

.body_joya{
    background-image: url("./img/joyasdeceren-1038x576.jpg");
    height:auto;
    width: auto;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}